#list_tabs {
clear: both;
display: block;
border-bottom: 1px solid #CECECE;
margin-bottom: 15px;
font-size: 11px !important;
line-height: 16px !important;
}
#list_tabs ul {
text-align: left;
margin: 15px 0 5px 0;
padding: 0;
}
#list_tabs ul li {
display: inline;
margin: 0;
}
#list_tabs ul li#on_lists_tab {
padding-left: 10px;
}
#list_tabs ul li a {
margin-right: 1px;
display: inline;
padding: 7px 15px 7px 15px;
background-color: #eee;
-moz-border-radius: 3px 3px 0 0;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
}
#list_tabs ul li a:hover {
background-color:#E6E6E6;
}
#list_tabs ul li.active span {
border: 1px solid #c4c4c4;
color: #555;
font-weight: bold !important;
background-color :#fff;
border-bottom: 1px solid #fff;
padding: 6px 14px 7px 14px;
margin-right: 1px;
-moz-border-radius: 3px 3px 0 0;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
}


a.view {
background: url(docs01.gif) center center no-repeat;
display: block;
width: 28px;
height: 24px;
margin: 0 auto;
}
a.edit {
background: url(edit01.gif) center center no-repeat;
display: block;
width: 28px;
height: 24px;
margin: 0 auto;
}
a.delete {
background: url(delete01.gif) center center no-repeat;
display: block;
width: 28px;
height: 24px;
margin: 0 auto;
}
a.file {
background: url(docs01.gif) center center no-repeat;
display: block;
width: 28px;
height: 24px;
margin: 0 auto;
color: #555;
font-weight: normal;
padding-top: 2px;
text-decoration: none !important;
}


th.action, td.action {
text-align: center !important;
width: 37px;
padding-top: 0;
padding-bottom: 0;
}

.nowrap { white-space: nowrap; }
.width30px { width: 30px; }
.width50px { width: 50px; }


.sorting, .sorting_asc, .sorting_desc { cursor: pointer; }
.paginate_disabled_previous { background-image: url('../images/back_disabled.jpg'); }
.paginate_enabled_previous { background-image: url('../images/back_enabled.jpg'); }
.paginate_disabled_next { background-image: url('../images/forward_disabled.jpg'); }
.paginate_enabled_next { background-image: url('../images/forward_enabled.jpg'); }
/*
tr.odd td.sorting_1 { background-color: #f5f5f5; }
tr.even td.sorting_1 { background-color: #f5f5f5; }
*/
